body{
background-color:  rgb(17, 146, 185) ;
background-image: linear-gradient(  rgb(17, 146, 185) 30%  ,rgb(5, 77, 95) 70%);
height: 750px;
width: 800px;
background-repeat: no-repeat;
}
.center{
width: 500px;
height: 500px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
 border-top-left-radius: 50px;
 border-bottom-right-radius: 50px;
background-color: white;
padding: 20px;
}
.a{
    color: rgb(23, 153, 204);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
   margin: 40px;
    
}
.b{
    border-style: none;
    margin: 3px;
}
.c{
    border-style: none;
    margin: 3px;
}
.d{
    color: rgb(158, 158, 190);
    
}
label{
font-family:sans-serif;
color: rgb(95, 94, 94);
font-size:  13px;

}
button{
   
    background-image:linear-gradient(  to right, rgb(97, 189, 231) ,rgb(5, 77, 95) ) ;
   border-radius: 50px;
    height: 50px;
    width: 400px;
    margin-left: 60px;
    margin-top: 40px;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p{
text-align: center;
display: inline-block;
margin-left:160px;
}
a{
text-decoration: none;
color:rgb(97, 189, 231) ;
text-align: center;


}
